{% extends 'base.html' %}

{% block 'title'%}
<title>Online Shopping: SignIn!</title>
{% endblock %}

{%block 'body'%}
<!-- Body of Form starts -->
<div class="container">
        
        <h1 class="heading">Sign in Here</h1>
        <form method="post" autocomplete="on", action="">

                {%csrf_token%}
                
                <!---Email ID---->
                <div class="box">
                        <label for="email" class="fl fontLabel"> Email ID: </label>
                        <div class="fl iconBox"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                        <div class="fr">
                                <input type="email" required name="email" placeholder="Email Id" class="textBox">
                        </div>
                        <div class="clr"></div>
                </div>
                <!--Email ID----->


                <!---Password------>
                <div class="box">
                        <label for="password" class="fl fontLabel"> Password </label>
                        <div class="fl iconBox"><i class="fa fa-key" aria-hidden="true"></i></div>
                        <div class="fr">
                                <input type="Password" required name="password" placeholder="Password" class="textBox">
                        </div>
                        <div class="clr"></div>
                </div>
                <!---Password---->

                <!---Submit Button------>
                <div class="box" style="background: #2d3e3f">
                        <input type="Submit" name="Submit" class="submit" value="SUBMIT">
                </div>
                <!---Submit Button----->
        </form>
        <div class="linkdisp">
                <a href="{% url 'register_page' %}">Want to signup?. Register Here.</a>
        </div>


         <hr/>
        {%if messages%}
                {%for message in messages%}
                        {%if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS%}
                                <font color = 'yellow'> {{message}} </font>
                        {%elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR%}
                                <font color = 'orange'> {{message}} </font>
                        {%endif%}        
                        
                {%endfor%}
        {%endif%}
</div>
<!--Body of Form ends--->

{%endblock%}