{% extends 'base.html' %}

{% block 'title'%}
<title>Online Shopping: SignIn!</title>
{% endblock %}

{%block 'body'%}
<!-- Body of Form starts -->
<div>
        <ul>
                <li><a href="{%url 'home_page'%}">Home</a></li>
                <li><a href="{%url 'profile_page'%}">Profile</a></li>
                <li><a href="{%url 'password_page'%}">Password</a></li>
                <li><a href="{%url 'logout_page'%}">Logout</a></li>
        </ul>
        <br/><br/><br/>
        <h1 class="heading">Welcome To Profile Page</h1>
        <br>
        <h3>Welcome {{my_em}}</h3>
        <br>
        <h2 style="font-size: 28px;
        color: #ffffff; /* White text color to contrast with the background */
        text-align: center;
        background-color: #227093; /* The background color you provided */
        padding: 15px;
        border-radius: 8px; /* Rounded corners for a modern look */
        text-transform: uppercase; /* Uppercase for emphasis */
        letter-spacing: 1px; /* Slightly increase space between letters */
        margin-bottom: 20px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">Your Information</h2><br>
        <div style="font-size: 16px; line-height: 1.5; color: #333; background-color: #f4f4f4; padding: 15px; border-radius: 10px; max-width: 700px; margin: auto;">
                <strong>First Name:</strong> {{user.first_name}}  <br/><br/>
                <strong>Last Name:</strong> {{user.last_name}} <br/><br/>
                <strong>Email:</strong> {{user.email}} <br/><br/>
                <strong>Phone:</strong> {{user.phone}} <br/><br/>
                <strong>Password:</strong> {{user.password}} <br/><br/>
                <strong>Gender:</strong> {{user.gender}} <br/><br/>
                <strong>Hobbies:</strong> {{user.hobbies}} <br/><br/>
                <strong>Country:</strong> {{user.country}} <br/><br/>
            </div>
        
        <div class="linkdisp">
                
        </div>

        <hr/>
        {%if messages%}
                {%for message in messages%}
                        {%if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS%}
                                <font color = 'yellow'> {{message}} </font>
                        {%elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR%}
                                <font color = 'orange'> {{message}} </font>
                        {%endif%}        
                        
                {%endfor%}
        {%endif%}
</div>
<!--Body of Form ends--->

{%endblock%}